.bg1{
    background-color: goldenrod;
    width:50vw ;
    height: 100vh;
}

.bg2{
    background-image: url("/meal.jpeg");
    width:50vw;
    height: 100vh;
}
.container{
    display: flex;
    padding-top: 10px;
}
.line{
    width: 10px;
    height: 200px;
    background-color: black;
}
.rotate{
    /* transform: rotate(90deg);
    display: flex;
    margin-top: 26rem;
    gap: 30px;
    font-size: 30px;
    padding-left: 20px; */
    display: flex;
    margin-top: 24rem;
    font-size: 30px;
    padding-left: 20px;
    gap: 30px;
}
.main{
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 50px;
    color:white;
    text-decoration:overline;
    letter-spacing: 20px;
}
 
.breakfast{
    padding: 40px;
    padding-left: 15rem;
    font-size: 20px;
    display: flex;
    padding-top: 10rem;
    flex-direction: column;
    gap: 10px;
}
.meal{
    display: flex;
    gap: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 5px;
    padding-top: 20px;
    padding: 20px;
}
.allmeal{
    display: flex;
    gap: 20px;
    padding: 30px;
    padding-left: 6rem;
}
.content{
    display: flex;
    padding: 5rem;
    gap: 20px;
    justify-content: center;
}
.content img{
    padding-bottom: 5px;
}
.health{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 70px;
    line-height: 205x;
}
.health h2{
    padding-top: 70px;
}
.health button{
    padding: 20px;
    font-size: 20px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.health button:hover{
    opacity: 0.8;
}



@media screen and (orientation:portrait) {
    .main{
        font-size: 20px;
        left: 3%;
        top: 50%;
    }
    .rotate{
        transform: none;
        display: flex;
        margin-top: 6rem;
        gap: 10px;
        font-size: 15px;
        padding-left: 20px;
    }
    .line{
        height: 90px;
    }
    .bg2{
        background-position: center;
    }
    .main h2{
        letter-spacing: 15px;
    }
  
    .breakfast{
        padding-left: 40px;
    }
    .allmeal{
        padding-left: 40px;
        flex-direction: column;
    }
    .content{
        flex-direction: column;
    }
    .content img{
        width: 20rem;
        height: 15rem;

    }
}