.bg1{
    background-color: goldenrod;
    width:50vw ;
    height: 100vh;
}

.bg2{
    background-image: url("/meal.jpeg");
    width:50vw;
    height: 100vh;
}
.container{
    display: flex;
    padding-top: 10px;
}
.line{
    width: 10px;
    height: 110px;
    background-color: black;
}
.rotate{
    transform: rotate(90deg);
    position: absolute;
    top:20rem;
    left: -5rem;
    display: flex;
    gap: 30px;
}
.main{
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 50px;
    color:white;
    text-decoration:overline;
}
.main h1{
    letter-spacing: 20px;
}
.main h2{
    letter-spacing: 20px;
}