
.header{
    padding: 4rem;
}
.header p{
    color: gray;
}
.star{
    display: flex;
    color: orangered;
}
.flex{
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    padding-left: 80px;
    padding: 80px;
}
.dish{
    width: 18.8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
    border: 1px solid lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.dish img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.dish P{
    padding-left: 10px;
}
.star{
    padding-left: 10px;
}
.headline{
  background-image: url("/food3.jpeg");
 
  width: 100vw;
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  font-size: 30px;
  margin-top: 150px;
  color: white;
  gap: 15px;
}
.headline button{
    padding: 20px;
    width: 10rem;
    font-size: 20px;
    background-color: goldenrod;
    color: white;
    border-radius: 10px;
    border: 1px solid goldenrod;
    cursor: pointer; 
    opacity: 0.5s;

}

@media screen and (orientation:portrait) {
    .flex{
        grid-template-columns:auto;
        padding-left: 40px;
    }
    .headline{
        text-align: center;
        font-size: 20px;
    }
}