.header{
    padding: 4rem;
}
.header p{
    color: gray;
}
.star{
    display: flex;
    color: orangered;
}
.flex{
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    padding-left: 80px;
    padding: 80px;
}
.dish{
    width: 18.8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
    border: 1px solid lightgray;
}
.dish:hover{
   transform:scale(0.9);
}

@media screen and (orientation:portrait) {
    .flex{
        grid-template-columns:auto;
        padding-left: 40px;
    }
}