.navlink{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
   width: 100vw;
}
.special{
    border: 1px solid goldenrod;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.navlink p{
    color: black;
    transition: 0.2s;
}
.navlink p:hover{
    color:goldenrod;
    border-bottom: 1px solid goldenrod;
}
.navlink h2{
    color: black;   

}
.header{
    display: none;
}




@media screen and (orientation:portrait) {
    .navlink{
        display: none;
    }
    .navmenu {
        position: absolute;
        display: flex;
        top: 0px;
        font-size: 23px;
        width: 17rem;
        height: 100vh;
        gap: 20px;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 30px;
        background-color: goldenrod;
       
    }
    .navmenu p{
        color: white; 
    }
   
   .header{
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   }
   .header h1{
    color: black;
   }
    .navmenu h2{
        display: none;
    }
    
}